:root {
  --darkblue: #22409b;
  --lightblue: rgba(124, 144, 216, 0.7);
  --lightyellow: #ffff8d;
  --red: #f2635f;
  --white: #ffffff;
}

body {
  font-family: "Comfortaa", "Zen Kaku Gothic Antique", sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: var(--white);
  min-height: 100svh;
}

.mb30 {
  margin-bottom: 30px;
}

.mb60 {
  margin-bottom: 60px;
}

.visually-hidden {
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
  border: 0 !important;
  padding: 0 !important;
  clip: rect(0 0 0 0) !important;
  clip-path: inset(50%) !important;
  margin: -1px !important;
}

/* --------------------------------
common
-------------------------------- */

.sub-wrapper {
  width: 100%;
  min-height: 100svh;
  padding: 30px;
  background-color: var(--darkblue);
  position: relative;
  overflow: hidden;
  z-index: 0;
}

.sub-wrapper::before {
  content: "";
  width: clamp(180px, 40vw, 280px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--lightblue);
  position: absolute;
  top: -10%;
  right: -6%;
}

.sub-wrapper::after {
  content: "";
  width: clamp(400px, 100vw, 1200px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--lightblue);
  position: absolute;
  bottom: clamp(-95%, -50vw, -30%);
  left: clamp(-50%, -40vw, -20%);
  z-index: -1;
}

.breadcrumb {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 40px;
  visibility: hidden;
}

@media (min-width: 768px) {
  .breadcrumb {
    visibility: visible;
  }
}

.breadcrumb img {
  width: 12px;
  height: 12px;
}
.breadcrumb a {
  transition: color 0.3s;
  display: flex;
  align-items: center;
  gap: 6px;
}

.breadcrumb a::before {
  content: "";
  width: 24px;
  height: 22px;
  background-color: var(--white);
  mask-image: url("img/home.svg");
  mask-position: left;
  mask-repeat: no-repeat;
  mask-size: contain;
  transition: background-color 0.3s;
}

@media (any-hover: hover) {
  .breadcrumb a:hover {
    color: var(--red);
  }
  .breadcrumb a:hover::before {
    background-color: var(--red);
  }
}

.sub-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
}

.sub-title {
  font-size: 94px;
  letter-spacing: 0.02em;
  line-height: 1;
  background-size: contain;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  margin-bottom: 60px;
  opacity: 0;
}

.sub-title::before {
  content: "";
  width: 130px;
  aspect-ratio: 1;
  background-size: contain;
  background-repeat: no-repeat;
}

.sub-title::after {
  content: "";
  width: 100%;
  height: 9px;
  border-radius: 100svh;
  background-color: var(--white);
  position: absolute;
  bottom: -8px;
  right: 0;
}

@media (min-width: 768px) {
  .sub-title {
    font-size: 130px;
    flex-direction: row;
    gap: 24px;
    margin-bottom: 100px;
  }
  .sub-title::before {
    width: 150px;
  }
  .sub-title::after {
    height: 12px;
    width: calc(100% - 174px);
  }
}

/* --------------------------------
home
-------------------------------- */

.main-wrapper {
  width: 100%;
  /* height: 60svh; */
  min-height: 450px;
  background-color: var(--darkblue);
  padding-bottom: 50px;
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
}

.main-wrapper::before {
  content: "";
  width: clamp(180px, 40vw, 280px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--lightblue);
  position: absolute;
  top: -12%;
  right: -5%;
}

.main-wrapper::after {
  content: "";
  width: clamp(400px, 100vw, 1200px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--lightblue);
  position: absolute;
  bottom: clamp(-95%, -50vw, -30%);
  left: clamp(-50%, -40vw, -20%);
  z-index: 0;
}

.main-content {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
  position: relative;
  z-index: 10;
}

.portfolio-img {
  width: clamp(200px, 30vw, 266px);
  opacity: 0;
}

.main-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-title {
  font-size: clamp(72px, 16vw, 145px);
  letter-spacing: 0.02em;
  opacity: 0;
}

.name {
  font-size: clamp(25px, 5.6vw, 50px);
  justify-self: center;
}

.name-text {
  opacity: 0;
}

.circle {
  display: inline-block;
  width: clamp(6px, 1vw, 10px);
  aspect-ratio: 1;
  border-radius: 50%;
  background-color: var(--white);
  vertical-align: middle;
  margin-right: clamp(12px, 2.1vw, 26px);
  opacity: 0;
}

.menu-wrapper {
  width: 100%;
  height: 40svh;
  background-color: var(--lightyellow);
  padding-block: 30px;
  position: relative;
}

.menu {
  display: grid;
  place-items: center;
}

.menu-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  color: var(--darkblue);
  background-color: var(--white);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(195, 193, 107, 0.5);
  line-height: 1;
  padding: 24px 24px;
  max-width: 85%;
  width: 680px;
  margin-inline: auto;
  opacity: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: -30px;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 12px;
}

.menu-item a {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  transition: color 0.3s;
  gap: 10px;
}

.menu-item::before {
  content: "";
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: var(--darkblue);
}

@media (any-hover: hover) {
  .menu-item:hover a {
    color: var(--red);
  }
  .menu-item:hover::before {
    animation: hoverCircle 1s ease 0.2s;
  }
}

@keyframes hoverCircle {
  50% {
    scale: 1.3;
    rotate: 135deg;
    border-radius: 0%;
  }
  100% {
    scale: 1;
    rotate: 270deg;
    border-radius: 50%;
  }
}

.menu-en {
  font-size: clamp(34px, 9vw, 44px);
}

.menu-en::after {
  content: "/";
  margin-left: 8px;
}

.menu-ja {
  font-size: clamp(14px, 4vw, 18px);
}

@media (min-width: 768px) {
  .main-wrapper {
    padding-block: 80px 160px;
    height: 70svh;
    min-height: 620px;
  }
  .name {
    font-size: 50px;
  }

  .menu-wrapper {
    padding-block: 60px;
    height: 30svh;
    min-height: 200px;
  }
  .menu-list {
    flex-direction: row;
    border-radius: 100svh;
    align-items: center;
    position: static;
    padding: 24px 60px;
  }

  .menu-item::before {
    width: 16px;
    height: 16px;
  }

  .menu-item a {
    flex-direction: column;
    align-items: center;
    gap: 0;
  }
  .menu-en::after {
    content: none;
  }
}

/* --------------------------------
about
-------------------------------- */

.sub-title--about::before {
  background-image: url("img/about.svg");
}

.sub-text-wrapper {
  width: 900px;
  margin-inline: auto;
  background-color: var(--lightblue);
  border-radius: 30px;
  padding: 50px;
}

.sub-text-inner {
  opacity: 0;
}

.sub-text-title {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 12px;
}

.sub-text-title::before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: var(--white);
}

.sub-text-body {
  line-height: 1.8;
}

.sub-text-body span {
  display: inline-block;
}

/* --------------------------------
skills
-------------------------------- */

.sub-title-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.sub-title--skills::before {
  background-image: url("img/skills.svg");
}

.sub-text-title2 {
  font-size: 32px;
  margin-bottom: 18px;
}

.sub-text-body-title {
  font-size: 20px;
  margin-top: 10px;
  margin-bottom: 4px;
}

.skill-list {
  display: flex;
}

.skill-item + .skill-item::before {
  content: "/";
  margin-inline: 5px;
}

/* --------------------------------
works
-------------------------------- */

.sub-title--works::before {
  background-image: url("img/works.svg");
}

.works-category-list {
  display: flex;
  justify-content: center;
  gap: 40px;
  font-size: 22px;
  line-height: 1;
  margin-bottom: 60px;
}

.works-category-item {
  position: relative;
}

.works-category-item.active::after {
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 100svh;
  background-color: var(--white);
  position: absolute;
  bottom: -10px;
  right: 0;
}

.swiper-area {
  background-color: var(--lightblue);
  padding: 2% 0 2% 2%;
  border-radius: 20px 0 0 20px;
  box-shadow: 0 0 10px 5px rgba(27, 37, 136, 0.6);
  opacity: 0;
}

.my-swiper-pagination {
  display: flex;
  justify-content: center;
  gap: 3px;
  margin-top: 30px;
}

.swiper-pagination-bullet {
  background-color: var(--white);
  width: 24px;
  height: 10px;
  border-radius: 6px;
  opacity: 0.5;
  transition: width 1.2s, opacity 1.2s;
}

.swiper-pagination-bullet-active {
  /* width: 80px; */
  opacity: 1;
}
/* --------------------------------
mobile-menu
-------------------------------- */

.mobile-menu-wrapper {
  width: 74px;
  height: 74px;
  border-radius: 25px;
  background-color: var(--darkblue);
  position: absolute;
  top: 30px;
  right: 30px;
  box-shadow: 0 0 10px 5px rgba(27, 37, 136, 0.6);
  z-index: 20;
  transition: width 0.4s, height 0.4s, transform 0.4s;
}

.mobile-menu-wrapper.open {
  width: 100%;
  height: 100%;
  transform: translate(30px, -30px);
  border: none;
  box-shadow: none;
  border-radius: 0;
  background-color: transparent;
}

.mobile-menu-btn {
  position: absolute;
  width: 72px;
  height: 72px;
  background-color: transparent;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 50;
  transition: transform 0.4s;
}

.mobile-menu-wrapper.open .mobile-menu-btn {
  transform: translate(-30px, 30px);
}

.mobile-menu-btn span {
  width: 40px;
  height: 3px;
  display: block;
  border-radius: 100svh;
  background-color: var(--white);
  position: absolute;
  left: 15px;
  transition: transform 0.4s;
}

.mobile-menu-btn span:nth-child(2) {
  top: 22px;
}

.mobile-menu-btn span:nth-child(3) {
  top: 34px;
}

.mobile-menu-btn span:last-child {
  top: 46px;
}

.mobile-menu-wrapper.open .mobile-menu-btn span:nth-child(2) {
  transform: translate(0, 12px) rotate(-45deg);
}

.mobile-menu-wrapper.open .mobile-menu-btn span:nth-child(3) {
  transform: rotate(-45deg);
}

.mobile-menu-wrapper.open .mobile-menu-btn span:last-child {
  transform: translate(0, -12px) rotate(45deg);
}

.mobile-menu {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.6s;
  transition-delay: 0.2s;
}

.mobile-menu-wrapper.open .mobile-menu {
  visibility: visible;
  opacity: 1;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.mobile-menu-item {
  display: flex;
  align-items: center;
  gap: 16px;
}

.mobile-menu-item::before {
  content: "";
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: var(--lightyellow);
  opacity: 0;
  transform: scale(0);
  transition: transform 0.4s, opacity 0.4s;
}

.mobile-menu-item a {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
  line-height: 1;
  transition: opacity 0.3s;
}

@media (any-hover: hover) {
  .mobile-menu-item:hover::before {
    transform: scale(1);
    opacity: 1;
    animation: hoverCircle 0.8s ease 0.2s;
  }
}

.mobile-menu-en {
  font-size: 28px;
  letter-spacing: 0.03em;
}

.mobile-menu-ja {
  font-size: 16px;
}

.mobile-menu-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: var(--darkblue);
  transform: scale(0);
  transition: transform 0.2s;
}

.mobile-menu-wrapper.open .mobile-menu-bg {
  transform: scale(1);
}

@media (min-width: 768px) {
  .mobile-menu {
    top: 30%;
  }
  .mobile-menu-list {
    flex-direction: row;
    gap: 60px;
  }
  .mobile-menu-item a {
    gap: 6px;
  }
  .mobile-menu-en {
    font-size: 36px;
    letter-spacing: 0.03em;
  }

  .mobile-menu-ja {
    font-size: 22px;
  }
}
